.youtubeShorts{
    margin-top: 3.125rem;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    gap: 0.438rem;
}
#shortIcon{
    height: 1.25rem;
    width: 1.25rem;
}

.youtubeShorts p{
    font-size: 1.25rem;
    font-weight: 700;
    color: rgb(241, 241, 241);
}

.shortsCards{
    display: flex;
    margin: 1.875rem 1rem;
    gap: 1.25rem;
}
.sCard1{
    height: 27.438rem;
    width: 15.875rem;
    border-radius: 0.938rem;
    background: url(./images/shrt1.jpg) center center/cover no-repeat;
    cursor: pointer;
}

.txt1{
    margin-top: 0.625rem;
    cursor: pointer;
}
.txt1 h4{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.438rem;
    color: rgb(241, 241, 241);
    width: 13.75rem;
}
.txt1 p{
    color: rgb(170, 170, 170);
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    margin-top: 0.313rem;
}

.sCard2{
    height: 27.438rem;
    width: 15.875rem;
    border-radius: 0.938rem;
    background: url(./images/shrt2.jpg) center center/cover no-repeat;
    cursor: pointer;
}

.txt2{
    margin-top: 0.625rem;
    cursor: pointer;
}
.txt2 h4{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.438rem;
    color: rgb(241, 241, 241);
    width: 13.75rem;
}
.txt2 p{
    color: rgb(170, 170, 170);
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    margin-top: 0.313rem;
}

.sCard3{
    height: 27.438rem;
    width: 15.875rem;
    border-radius: 0.938rem;
    background: url(./images/shrt3.jpg) center center/cover no-repeat;
    cursor: pointer;
}

.txt3{
    margin-top: 0.625rem;
    cursor: pointer;
}
.txt3 h4{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.438rem;
    color: rgb(241, 241, 241);
    width: 13.75rem;
}
.txt3 p{
    color: rgb(170, 170, 170);
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    margin-top: 0.313rem;
}

.sCard4{
    height: 27.438rem;
    width: 15.875rem;
    border-radius: 0.938rem;
    background: url(./images/shrt4.jpg) center center/cover no-repeat;
    cursor: pointer;
}

.txt4{
    margin-top: 0.625rem;
    cursor: pointer;
}
.txt4 h4{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.438rem;
    color: rgb(241, 241, 241);
    width: 13.75rem;
}
.txt4 p{
    color: rgb(170, 170, 170);
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    margin-top: 0.313rem;
}

.sCard5{
    height: 27.438rem;
    width: 15.875rem;
    border-radius: 0.938rem;
    background: url(./images/shrt5.jpg) center center/cover no-repeat;
    cursor: pointer;
}

.txt5{
    margin-top: 0.625rem;
    cursor: pointer;
}
.txt5 h4{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.438rem;
    color: rgb(241, 241, 241);
    width: 13.75rem;
}
.txt5 p{
    color: rgb(170, 170, 170);
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    margin-top: 0.313rem;
}

.sCard6{
    height: 27.438rem;
    width: 15.875rem;
    border-radius: 0.938rem;
    background: url(./images/shrt6.jpg) center center/cover no-repeat;
    cursor: pointer;
}

.txt6{
    margin-top: 0.625rem;
    cursor: pointer;
}
.txt6 h4{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.438rem;
    color: rgb(241, 241, 241);
    width: 13.75rem;
}
.txt6 p{
    color: rgb(170, 170, 170);
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    margin-top: 0.313rem;
}